In [55]:
import pandas as pd

data = {
    "customer_id": [101,102,103,104,105,106,107,108,109,110],
    "gender": ["Female","Male","Male","Female","Female","Male","Male","Female","Male","Female"],
    "senior_citizen": [0,0,1,0,1,0,0,1,0,0],
    "tenure": [1,34,2,45,5,22,10,3,56,8],
    "monthly_charges": [29.85,56.95,53.85,42.30,70.70,89.10,65.50,99.65,23.45,75.20],
    "contract": ["Month-to-month","One year","Month-to-month","Two year","Month-to-month",
                 "One year","Month-to-month","Month-to-month","Two year","One year"],
    "internet_service": ["DSL","Fiber","Fiber","DSL","Fiber","Fiber","DSL","Fiber","No","DSL"],
    "payment_method": ["Electronic check","Credit card","Electronic check","Bank transfer",
                       "Electronic check","Credit card","Bank transfer","Electronic check",
                       "Credit card","Bank transfer"],
    "churn": ["Yes","No","Yes","No","Yes","No","No","Yes","No","No"]
}

df = pd.DataFrame(data)
print(df)

   customer_id  gender  senior_citizen  tenure  monthly_charges  \
0          101  Female               0       1            29.85
1          102    Male               0      34            56.95
2          103    Male               1       2            53.85
3          104  Female               0      45            42.30
4          105  Female               1       5            70.70
5          106    Male               0      22            89.10
6          107    Male               0      10            65.50
7          108  Female               1       3            99.65
8          109    Male               0      56            23.45
9          110  Female               0       8            75.20

         contract internet_service    payment_method churn
0  Month-to-month              DSL  Electronic check   Yes
1        One year            Fiber       Credit card    No
2  Month-to-month            Fiber  Electronic check   Yes
3        Two year              DSL     Bank transfer    No
4  Month-to-month            Fiber  Electronic check   Yes
5        One year            Fiber       Credit card    No
6  Month-to-month              DSL     Bank transfer    No
7  Month-to-month            Fiber  Electronic check   Yes
8        Two year               No       Credit card    No
9        One year              DSL     Bank transfer    No

In [56]:
df.head(1)

,customer_id,gender,senior_citizen,tenure,monthly_charges,contract,internet_service,payment_method,churn
0,101,Female,0,1,29.85,Month-to-month,DSL,Electronic check,Yes

In [57]:
df.describe()

       customer_id  senior_citizen     tenure  monthly_charges
count     10.00000       10.000000  10.000000        10.000000
mean     105.50000        0.300000  18.600000        60.655000
std        3.02765        0.483046  19.844955        24.485284
min      101.00000        0.000000   1.000000        23.450000
25%      103.25000        0.000000   3.500000        45.187500
50%      105.50000        0.000000   9.000000        61.225000
75%      107.75000        0.750000  31.000000        74.075000
max      110.00000        1.000000  56.000000        99.650000

In [58]:
df = df.drop('customer_id',axis=1)

In [59]:
import warnings
warnings.filterwarnings('ignore')
df['gender'] = df['gender'].replace({'Female':0,'Male':1})
df['churn'] = df['churn'].replace({'Yes':1,'No':0})

In [60]:
df['contract'].unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [61]:
df['contract'] = df['contract'].replace({
    'Month-to-month':0,
    'One year':1,
    'Two year':2
})

In [62]:
df = pd.get_dummies(df,columns=['internet_service','payment_method'],drop_first=True)

In [63]:
df = df.astype(float)

In [66]:
df.head(1)

,gender,senior_citizen,tenure,monthly_charges,contract,churn,internet_service_Fiber,internet_service_No,payment_method_Credit card,payment_method_Electronic check
0,0.0,0.0,1.0,29.85,0.0,1.0,0.0,0.0,0.0,1.0

In [65]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [67]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

from sklearn.model_selection import train_test_split
X = df.drop('churn',axis=1)
y = df['churn']


X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=42)
X_train[['tenure','monthly_charges']] = scaler.fit_transform(X_train[['tenure','monthly_charges']])
X_test[['tenure','monthly_charges']] = scaler.transform(X_test[['tenure','monthly_charges']])

model.fit(X_train,y_train)
y_pred = model.predict(X_test)
from sklearn.metrics import f1_score,confusion_matrix,accuracy_score
print(f1_score(y_test,y_pred))
print("con\n",confusion_matrix(y_test,y_pred))
print(accuracy_score(y_test,y_pred))

0.0
con
 [[2]]
1.0

In [68]:
import pickle

pickle.dump(model,open('model.pkl',"wb"))
pickle.dump(scaler,open("scaler.pkl","wb"))